<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Waifu</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
    <ion-label>Logout</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Tambah Waifu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Nama Waifu</ion-label>
      <ion-input required [(ngModel)]="waifu_name" placeholder="Masukkan Nama Waifu" type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Keterangan</ion-label>
      <ion-input required [(ngModel)]="keterangan" placeholder="Masukkan Keterangan" type="text">
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="addWaifu()" color="primary" shape="full" expand="block">Tambah
          Waifu
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>