<ion-header>
  <ion-toolbar>
    <ion-title>Home Aplikasi</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
    <ion-label>Logout</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <hr>
  <h1>Selamat datang {{ nama }}</h1>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Tarik Untuk Memuat Data"
      refreshingSpinner="circles" refreshingText="Memuat Ulang Data...">
    </ion-refresher-content>
  </ion-refresher>
  <hr>
  <ion-card>
    <ion-button color="success" expand="block" (click)="tambahWaifu()">Tambah Waifu</ion-button>
  </ion-card>
  <hr>
  <ion-card *ngFor="let item of lists">
    <ion-item>
      <ion-label>
        {{item.id}}. {{item.waifu_name}}
        <p>{{item.keterangan}}</p>
      </ion-label>
      <ion-button color="primary" slot="end" [routerLink]="['/waifu-edit/',item.id]"
        routerLinkActive="router-link-active">Edit</ion-button>
      <ion-button color="danger" slot="end" (click)="deleteWaifu(item.id)">Hapus</ion-button>
    </ion-item>
  </ion-card>
</ion-content>